<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Form</title>
  </head>
  <body>
    <h1>Get request</h1>
    <p>Please enter the text you wish to submit:</p>       
    <form>
        <textarea id=input_text></textarea>
        <div>
            <input type="radio" id="fairseq"
                   name="model" value="fairseq" checked>
            <label for="fairseq">fairseq</label>
            <input type="radio" id="coling"
                   name="model" value="coling">
            <label for="coling">coling</label>
        </div>
    </form>
    <button id=button onclick="button()">Press Me</button>



    <h1>Get status of request</h1>
    <p>Enter job id:</p>
    <form>
        <input type="number" id="input_job_id">
    </form>
    <button id=button_2 onclick="checkStatus(document.getElementById('input_job_id').value)">Check if the job is submitted</button>
    <div id="running_message" style="display:none">
        <p>Your job is running. This will automatically update, when your job is complete.</p>
    </div>
    <div id = "completed_message" style = "display:none">
        <p>Here is your completed job.</p>
        <!-- <textarea id="completed_job"></textarea> -->
        <table id="results_table">
            <!-- here will be the results table -->
        </table>
    </div>

    <script>
    function getValue(data)
    {
        // this function will allow to choose the correct or new segmentation from drop down menu
        var myDiv = document.getElementById( data.id + '-value' );
        myDiv.innerHTML = data.value;
    }
    let timeout_result;

    async function checkStatus(jobId) {
        // if we are waiting for a different job, we do not need to keep waiting for the previous one
        clearTimeout(timeout_result);
        // const jobId = document.getElementById("input_job_id").value;
        const status = await requestData(`/api/job/${jobId}`);
        const running_message = document.getElementById("running_message");
        const completed_message = document.getElementById("completed_message");
        // const completed_job = document.getElementById("completed_job");

        if (status.status) {
            // alert("Your job has completed.");
            running_message.style.display = "none";
            completed_message.style.display = "block";
            // completed_job.value = "loading result";
            const result = await requestData(`/api/job/${jobId}/download`);
            const result_string = JSON.stringify(result);
            // completed_job.value = result_string;
            displayTable(result_string);
        } else {
            // alert("The job has submitted, but not completed yet. It is running. Rest assured you will be notified when it will get processed.");
            completed_message.style.display = "none";
            running_message.style.display = "block";
            // wait 2 s and run checkStatus again
            timeout_result = setTimeout(checkStatus, 2000, jobId);
        }
    }

    function displayTable(json_string) {
        let results_table = document.getElementById("results_table");
        // convert JSON to list of JS objects
        let token_list = JSON.parse(json_string);
        const token_number = token_list.length;
        const column_number = (token_number >= 10) ? 10 : token_number;
        const row_number = Math.ceil(token_number/10);
        let current_index = 0;
        results_table.innerHTML = "";
        // the table willl contain at most 10 columns and at most 10 rows. 
        // the outer loop will count up to ten, and break if there is less
        for (i = 0; i < row_number; i++) {
            let row = results_table.insertRow();
            for (j = 0; j < column_number; j++) {
                if (current_index < token_number) {
                    let cell = row.insertCell();
                    let text = document.createTextNode(token_list[current_index]["input"]);
                    let break_line = document.createElement("br");
                    cell.appendChild(text);
                    cell.appendChild(break_line);

                    // make this appear only if Custom option is selected in the drop down list.
                    let input_for_list = document.createElement("input");
                    input_for_list.setAttribute("type", "text");
                    // set as default in drop-down menu's input window to be the firstsegmentation
                    input_for_list.style.display = "none";

                    cell.appendChild(input_for_list);
   
                    // this drop down list selection is from https://stackoverflow.com/questions/17001961/how-to-add-drop-down-list-select-programmatically
                    //Create array of options to be added to the drop-down list
                    let segmentation_list = token_list[current_index]["segmentation"];


                    // Create and append select list
                    let selectList = document.createElement("select");
                    selectList.id = "segmentation";
                    cell.appendChild(selectList);

                    // Create and append the options - add this when you have multiple segmentations 
                    for (var i = 0; i < segmentation_list.length; i++) {
                        let option = document.createElement("option");
                        option.value = segmentation_list[i];
                        option.text = segmentation_list[i];
                        selectList.appendChild(option);
                    }

                    let custom_option = document.createElement("option");
                    custom_option.value = "Custom"
                    custom_option.text = "Custom"
                    selectList.appendChild(custom_option);

                    selectList.onchange = () => {
                        if (selectList.options[selectList.selectedIndex].value === custom_option.value) {
                            selectList.style.display = "none";
                            input_for_list.style.display = "block";
                        }
                    }

                    input_for_list.onchange = () => {
                        // TODO add preferred_segmentation to the JSON object, the default value of which will be the first segmentation
                    }
 
                    // let input_for_list = document.createElement("input");
                    // input_for_list.setAttribute("type", "text");
                    // // set as default in drop-down menu's input window to be the firstsegmentation
                    // const first_segmentation = segmentation_list[0];
                    // input_for_list.setAttribute("value", first_segmentation);
                    // input_for_list.setAttribute("list", "segmentationList");

                    // let segmentation_drop_down = document.createElement("datalist");
                    // segmentation_drop_down.id = "segmentationList";

                    // for (var i = 0; i < segmentation_list.length; i++) {
                    //     let option = document.createElement("option");
                    //     option.value = segmentation_list[i];
                    //     option.text = segmentation_list[i];
                    //     segmentation_drop_down.appendChild(option);
                    // }

                    // cell.appendChild(input_for_list);
                    // cell.appendChild(segmentation_drop_down);

                    current_index++;
                } else {
                    break;
                }

            }
        }
    }

    async function button() {
        const inputText = document.getElementById("input_text").value;
        const isFairseq = document.getElementById("fairseq").checked;
        const isColing = document.getElementById("coling").checked;
        let data;
        if (isFairseq) {
            data = {text:inputText, model:'fairseq'};
        } else {
            data = {text:inputText, model:'coling'};
        }
        const jobData = await requestData('/api/job', data, 'POST');
        document.getElementById("input_job_id").value = jobData.job_id;
    }

    async function requestData(url = '', data = {}, method = 'GET') {
        // Default options are marked with *
        let response;
        try {
            response = await fetch(url, {
                method: method, // *GET, POST, PUT, DELETE, etc.
                credentials: 'include', // include, *same-origin, omit
                headers: {
                    'Content-Type': 'application/json'
                },
                body: method==='POST'? JSON.stringify(data) : undefined, // body data type must match "Content-Type" header
            });
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
        } catch(err) {
            alert("Could not submit a request")
            throw err;
        }
        const job_data = await response.json();
        return job_data;
    }
    </script>
  </body>
</html>