<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Form</title>
  </head>
  <body>
    <h1>Get request</h1>
    <p>Please enter the text you wish to submit:</p>
    <form>
        <textarea id=input_text></textarea>
        <div>
            <input type="radio" id="fairseq"
                   name="model" value="fairseq" checked>
            <label for="fairseq">fairseq</label>
            <input type="radio" id="coling"
                   name="model" value="coling">
            <label for="coling">coling</label>
        </div>
    </form>
    <button id=button onclick="button()">Press Me</button>



    <h1>Get status of request</h1>
    <p>Enter job id:</p>
    <form>
        <input type="number" id="input_job_id">
    </form>
    <button id=button_2 onclick="checkStatus()">Press Me</button>

    <script>
    async function checkStatus() {
        const jobId = document.getElementById("input_job_id").value;
        const status = await requestData(`/api/job/${jobId}`);
        // alert(jobId);
        if (status.status) {
            alert("Your job has been received. Rest assured you will be notified when it will get processed.");
        } else {
            alert("no job found");
        }
    }

    async function button() {
        const inputText = document.getElementById("input_text").value;
        const isFairseq = document.getElementById("fairseq").checked;
        const isColing = document.getElementById("coling").checked;
        let data;
        if (isFairseq) {
            data = {text:inputText, model:'fairseq'};
        } else {
            data = {text:inputText, model:'coling'};
        }
        const jobData = await requestData('/api/job', data, 'POST');
        document.getElementById("input_job_id").value = jobData.job_id;
    }

    async function requestData(url = '', data = {}, method = 'GET') {
        // Default options are marked with *
        let response;
        try {
            response = await fetch(url, {
                method: method, // *GET, POST, PUT, DELETE, etc.
                credentials: 'include', // include, *same-origin, omit
                headers: {
                    'Content-Type': 'application/json'
                },
                body: method==='POST'? JSON.stringify(data) : undefined, // body data type must match "Content-Type" header
            });
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
        } catch(err) {
            alert("Could not submit a request")
            throw err;
        }
        const job_data = await response.json();
        return job_data;
    }
    </script>
  </body>
</html>