<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Glossing UI</title>
        <link href='{{ url_for('static',filename='styles/style.css') }}' rel='stylesheet' type="text/css">
    </head>
    <body>
        <header>
            <h1>Glossing UI</h1>
            <p>Silfverberg Lab</p>
    
        </header>
        <article>
            <div class="form">
                <h2>Submit data</h2>
                <p>Please enter the text you wish to submit:</p>       
                <form>
                    <textarea id=input_text></textarea>
                    <p>Choose the model that you wish to use:</p>
                    <div id="model_buttons">
                        <input type="radio" id="fairseq" 
                               name="model" value="fairseq" checked>
                        <label for="fairseq" class="model_button">fairseq</label>
                        <input type="radio" id="coling" 
                               name="model" value="coling">
                        <label for="coling" class="model_button">coling</label>
                    </div>
                </form>
                <button class=job_buttons onclick="submit_job()">Submit</button>    
            </div>
        
            <div class="form">
                <h2>Get status of request</h2>
                <p>Enter job id:</p>
                <form id="input_job_id_form">
                    <input type="number" id="input_job_id">
                </form>
                <button class=job_buttons onclick="checkStatus(document.getElementById('input_job_id').value)">
                    Request job status
                </button>
                <div id="running_message" style="display:none">
                    <p>Your job is running. This will automatically update, when your job is complete.</p>
                </div>
                <div id = "completed_message" style = "display:none">
                    <!-- below is React -->
                    <div id="ui_container"></div>
                    <!-- above is React -->
                </div>
            </div>
            
            <!-- Enable JSX -->
            <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
            <!-- Load React. -->
            <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
            <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
            <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>

            <script>
                // retrieve stored job id value from the browser. This makes it easy to see the result from the 
                // last job the user ran.
                document.getElementById("input_job_id").value = localStorage.getItem("last_job_id") || "";
                
                // This variable stores the timer that is used to automatically refresh the job status
                // while it is running.
                let timeout_result;
            
                /**
                 * Checks the status of the job with jobId. If the job is complete, a table with 
                 * results will appear. If the job is not complete, the function will check
                 * again after a short interval.
                 */
                async function checkStatus(jobId) {
                    localStorage.setItem("last_job_id", String(jobId));
                    // if we are waiting for a different job, we do not need to keep waiting for the previous one
                    clearTimeout(timeout_result);
                    // const jobId = document.getElementById("input_job_id").value;
                    const status = await requestData(`/api/job/${jobId}`);
                    const running_message = document.getElementById("running_message");
                    const completed_message = document.getElementById("completed_message");
                    // const completed_job = document.getElementById("completed_job");
            
                    if (status.status) {
                        running_message.style.display = "none";
                        completed_message.style.display = "flex";
                        const result = await requestData(`/api/job/${jobId}/download`);

                        const domContainer = document.querySelector('#ui_container');
                        ReactDOM.render( <ResultsSection data={result} jobId={jobId}/>, domContainer);
                        // scroll to the results
                        completed_message.scrollIntoView(true);
                    } else {
                        // alert("The job has submitted, but not completed yet. It is running. Rest assured you will be notified when it will get processed.");
                        completed_message.style.display = "none";
                        running_message.style.display = "block";
                        // wait 2 s and run checkStatus again
                        timeout_result = setTimeout(checkStatus, 2000, jobId);
                    }
                }

            
                /**
                 * Submits a new job by making a POST request to the API
                 * This will also prefill the job id in the get status form.
                 **/
                async function submit_job() {
                    const inputText = document.getElementById("input_text").value;
                    const isFairseq = document.getElementById("fairseq").checked;
                    const isColing = document.getElementById("coling").checked;
                    let data;
                    if (isFairseq) {
                        data = {text:inputText, model:'fairseq'};
                    } else {
                        data = {text:inputText, model:'coling'};
                    }
                    const jobData = await requestData('/api/job', data, 'POST');
                    document.getElementById("input_job_id").value = jobData.job_id;
                    checkStatus(jobData.job_id);
                }
            
            
                /**
                 * Helper function for a REST API request.
                 */ 
                async function requestData(url = '', data = {}, method = 'GET') {
                    // Default options are marked with *
                    let response;
                    try {
                        response = await fetch(url, {
                            method: method, // *GET, POST, PUT, DELETE, etc.
                            credentials: 'include', // include, *same-origin, omit
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: method==='POST'? JSON.stringify(data) : undefined, 
                            // body data type must match "Content-Type" header
                        });
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                    } catch(err) {
                        alert("Could not submit a request")
                        throw err;
                    }
                    const job_data = await response.json();
                    return job_data;
                }
                </script>

                <!-- Load our React component. -->
                <script type="text/babel" src="{{ url_for('static',filename='ui.js') }}"></script>
        </article>


  </body>
</html>

