<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Glossing UI</title>
        <link href='{{ url_for('static',filename='styles/style_gloss.css') }}' rel='stylesheet' type="text/css">
    </head>
    <body>
        <header>
            <h1>Glossing UI (Test)</h1>
            <p>Silfverberg Lab</p>
    
        </header>
        <article>
            <div class="form">
                <h2>Submit data</h2>
                <form onsubmit="event.preventDefault()">
                    <p>Choose input method:</p>
                    <div id="input_buttons" class="form">
                        <input type="radio" id="text_field_radio_button" 
                        name="input_type" value="text_field" onchange="selectInputType(this)">
                        <label for="text_field_radio_button" class="model_button">Use text field</label>
                        <input type="radio" id="text_file_radio_button"
                        name="input_type" value="text_file" onchange="selectInputType(this)" checked>
                        <label for="text_file_radio_button" class="model_button">Upload a text file</label>
                        <input type="radio" id="eaf_file_radio_button" 
                        name="input_type" value="eaf_file" onchange="selectInputType(this)">
                        <label for="eaf_file_radio_button" class="model_button">Upload an eaf file</label>
                    </div>
                    <div id=input_text_div style="display:none">
                        <p>Please enter the text you wish to submit:</p>       
                        <textarea id=input_text class=user_input></textarea>
                    </div>
                    <div id=eaf_text_div style="display:none">
                        <input id='eaf_input' type=file />
                    </div>
                    <div id=text_file_div>
                        <input id='text_file_input' type=file />
                    </div>
                    <p>Options:</p>
                    <div id="model_options" class="form">
                        <div id="task_buttons" class="form">
                            <input type="radio" id="gloss_task_radio_button" name="task_type" value="gloss_task" checked>
                            <label for="gloss_task_button" class="model_button">Generate gloss</label>
                            <input type="radio" id="morphseg_task_radio_button" name="task_type" value="morphseg_task">
                            <label for="morphseg_task_button" class="model_button">Generate morphological segmentation</label>
                        </div>
                        <label for="n_best_select" class="model_button">Model predictions for each token:</label>
                        <select name="n_best" id="n_best_select">
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    <button class=job_buttons onclick="submit_job()">Submit</button>  
                </form>  
            </div>
        
            <div class="form">
                <h2>Get status of request</h2>
                <p>Enter job id:</p>
                <form id="input_job_id_form" class=form>
                    <input type="number" id="input_job_id" class="user_input">
                </form>
                <button class=job_buttons onclick="checkStatus(document.getElementById('input_job_id').value)">
                    Request job status
                </button>
                <div id="running_message" style="display:none">
                    <p>Your job is running. This will automatically update, when your job is complete.</p>
                </div>
                <div id = "completed_message" style = "display:none">
                    <!-- below is React -->
                    <div id="ui_container"></div>
                    <!-- above is React -->
                </div>
            </div>
            
            <!-- Enable JSX -->
            <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
            <!-- Load React. -->
            <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
            <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
            <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>

            <!-- Load our React component. -->
            <script type="text/babel" src="{{ url_for('static',filename='ui.js') }}"></script>

            <script>
                /**
                 * Submits a new job by making a POST request to the API
                 * This will also prefill the job id in the get status form.
                 **/
                 async function submit_job() {
                    let data = {};
                    data = gatherModelMetadata(data);
                    const isEafFile = document.getElementById('eaf_file_radio_button').checked;
                    const isTextFile = document.getElementById('text_file_radio_button').checked;

                    let jobData;
                    // perform different requests depending on the chosen input type
                    if (isEafFile) {
                        const selectedFile = document.getElementById('eaf_input').files[0];
                        const text = await selectedFile.text();
                        // TODO set up transcription id specification by user
                        const tier_id = 'Transcription';
                        data = {...data, eaf:text, tier_id:tier_id};
                        console.log(data);
                        jobData = await requestData('/api/job/eaf', data, 'POST');
                    } else if (isTextFile) {
                        const selectedFile = document.getElementById('text_file_input').files[0];
                        const text = await selectedFile.text();
                        data = {...data, text:text}
                        console.log(data);
                        jobData = await requestData('/api/job', data, 'POST');
                    } else {
                        const inputText = document.getElementById("input_text").value;
                        data.text = inputText;
                        console.log(data);
                        jobData = await requestData('/api/job', data, 'POST');
                    }
                    document.getElementById("input_job_id").value = jobData.job_id;
                    checkStatus(jobData.job_id);
                }

                /**
                 * Helper function to add metadata (model type chosen, model parameters)
                 * and add
                 * @param: {Object} data - data object, to which metadata keys and values will be added.
                 * @returns: {Object} data - data object with metadata added to it
                 * @todo: expand this function, as more parameters about the model can be set by the user.
                 * */
                function gatherModelMetadata(data) {
                    // const isFairseqMorphSeg = document.getElementById("fairseq").checked;
                    // const isFairseqGloss = document.getElementById("fairseq-gloss").checked;
                    // if (isFairseqMorphSeg || isFairseqGloss) {
                    //     data.model = 'fairseq';
                    // } else {
                    //     data.model = 'coling';
                    // }

                    // In this version: model options are gloss and morphseg
                    data.model = 'fairseq';

                    const isGloss = document.getElementById("gloss_task_radio_button").checked;
                    if (isGloss) {
                        data.task = 'gloss';
                    } else {
                        data.task = 'morphseg';
                    }

                    const nBest = document.getElementById("n_best_select").value;
                    data.nbest = nBest;
                    return data;
                }

                /**
                 * Onchange function that shows the text input field of eaf upload button
                 * depending on what radio button is selected.
                 * @param {Event} radio - An onchange event of a radio button
                 * */
                function selectInputType(radio) {
                    const text_field = document.getElementById('input_text_div');
                    const eaf_file = document.getElementById('eaf_text_div');
                    const text_file = document.getElementById('text_file_div');

                    if (radio.value === 'text_field') {
                        text_field.style.display = 'block';
                        eaf_file.style.display = 'none';
                        text_file.style.display = 'none';
                    } else if (radio.value === 'eaf_file') {
                        text_field.style.display = 'none';
                        eaf_file.style.display = 'block';
                        text_file.style.display = 'none';
                    } else if (radio.value === 'text_file') {
                        text_field.style.display = 'none';
                        eaf_file.style.display = 'none';
                        text_file.style.display = 'block';
                    }
                }
            
                /**
                 * Helper function for a REST API request.
                 */ 
                async function requestData(url = '', data = {}, method = 'GET') {
                    // Default options are marked with *
                    let response;
                    try {
                        response = await fetch(url, {
                            method: method, // *GET, POST, PUT, DELETE, etc.
                            credentials: 'include', // include, *same-origin, omit
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: method==='POST'? JSON.stringify(data) : undefined, 
                            // body data type must match "Content-Type" header
                        });
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                    } catch(err) {
                        alert("Could not submit a request")
                        throw err;
                    }
                    const job_data = await response.json();
                    return job_data;
                }
            </script> 
            <script type="text/babel">
                // retrieve stored job id value from the browser. This makes it easy to see the result from the 
                // last job the user ran.
                document.getElementById("input_job_id").value = localStorage.getItem("last_job_id") || "";
                
                // This variable stores the timer that is used to automatically refresh the job status
                // while it is running.
                let timeout_result;
            
                /**
                 * Checks the status of the job with jobId. If the job is complete, a table with 
                 * results will appear. If the job is not complete, the function will check
                 * again after a short interval.
                 */
                async function checkStatus(jobId) {
                    localStorage.setItem("last_job_id", String(jobId));
                    // if we are waiting for a different job, we do not need to keep waiting for the previous one
                    clearTimeout(timeout_result);
                    // const jobId = document.getElementById("input_job_id").value;
                    const status = await requestData(`/api/job/${jobId}`);
                    const running_message = document.getElementById("running_message");
                    const completed_message = document.getElementById("completed_message");
                    // const completed_job = document.getElementById("completed_job");
            
                    if (status.status) {
                        running_message.style.display = "none";
                        completed_message.style.display = "flex";
                        const result = await requestData(`/api/job/${jobId}/download`);

                        const domContainer = document.querySelector('#ui_container');
                        // key attribute is required so that with new requests and thus with new jobId, the 
                        // React components actually rerender.
                        // https://reactjs.org/blog/2018/06/07/you-probably-dont-need-derived-state.html
                        ReactDOM.render( <ResultsSection data={result} jobId={jobId} key={jobId}/>, domContainer);
                        // scroll to the results
                        completed_message.scrollIntoView(true);
                    } else {
                        // alert("The job has submitted, but not completed yet. It is running. Rest assured you will be notified when it will get processed.");
                        completed_message.style.display = "none";
                        running_message.style.display = "block";
                        // wait 2 s and run checkStatus again
                        timeout_result = setTimeout(checkStatus, 2000, jobId);
                    }
                }
                </script>
        </article>
        <footer>

        </footer>
  </body>
</html>

